body {
    display: flex;
    /* min-width: 100%; */
    min-height: 100vh;
}

nav#projects {
    min-width: 150px;
}

#display {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

item.high{
    background-color: lightcoral;
}

item.med{
    background-color: goldenrod;
}

item.lo{
    background-color: aquamarine;
}